.wrapper {
    width:100vw;
    height:100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:8;
}

.wrapper .content{
    position: relative;
    overflow:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.content .center{
    display:flex;
    flex-direction: column;
}

.content .center .logo {
    width:50px;
    border-radius: 50px;
}

.content .center .center-text{
    color:white;
    font-size:25px;
    font-weight:bold;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    position:absolute;
    bottom: 0px;
    color:white;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:9px;
    width: 90%;
    max-width: 1000px;
}

.boxes div{
    padding: 10px, 10px;
    text-align: center;
    border-color: white;
    border: 2px solid #424242;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 10px;
}

.boxes div:hover {
    background-color: #2f2f2f;
    border-color: #434343;
}
.boxes h2{
    font-size: 14px;
    font-weight: 500;
    margin:0;
}

.boxes p{
    font-size: 13px;
    font-weight:1;
    padding:0;
    margin:0;
}



.wrapper .bottom{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
    margin:0;
    z-index: 1;
}

.wrapper .bottom .textbar {
    width:90%;
    height: 50px;
    max-width: 1000px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #424242;
    justify-content: left;
    border-radius: 15px;
    background-color: #212121;
}

.wrapper .bottom .textbar .textbox {
    width:96%;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 15px;
    outline: none;
    transition: caret-color 0.3s ease;
    color: white;
    font-weight: 500;
}

.wrapper .bottom  .textbar .textbox:focus {
    caret-color: white;

}

.wrapper .bottom .textbar:focus-within {
    border-color: #4c4c4c;
}

.discretion{
    margin:0;
    padding:0;
    position:fixed;
    bottom:3px;
    font-size:12px;
    color:white;
    font-weight:1;
}

.chat-history{

    z-index: 0;
    max-width: 1000px;
    height:900px;
    position: relative;
    display:flex;
    padding-top:50px;
    flex-direction: column;
}
.chat-history div{
    color:white;
    font-size:15px;
}

.chat-history .chats{

    display:flex;
    padding: 8px 16px;

}

.chat-history .chats .name{
    font-size: 15px;
    margin:0;
}

.chat-history .chats .chat-pfp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


::-webkit-scrollbar {
    width: 10px;
    height:20px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}