
.sidebar {
    width:20%;
    left:0;
    top:0;
    height: 100vh;
    background-color: #171717;
    transition: transform 0.3s ease-in-out;
}

.top {
    border-color:white;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px 15px;
}

.top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.top .container .inner-container{
    display: flex; 
    align-items: center;
}

.top .container .inner-container .logo{
    width:65px;
    height:35px;
}

.top .outer-container:hover{
    background:#2f2f2f;
    cursor:pointer;
}

.top .outer-container{
    transition: background-color 0.3s ease;
}

.top .container .more-info-icon {
    width: 20px;
}

.top .new-chat .chat-summary{
    color: white;
}

.recent{
    color:#9b9b9b;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 10px;
}

.bottom {
    display:flex;
    justify-content: left;
    position:fixed;
    bottom:10px;
    align-items: center;
    margin-left:10px;
    width:18.5%;
    transition: background-color 0.3s ease;
}

.bottom .pfp{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: 5px 5px;

}

.bottom .username{
    color:white;
    font-size: 17px;
}

.bottom .container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.bottom:hover{
    background:#2f2f2f;
    cursor:pointer;
    border-radius: 15px;

}

